html, body {
    margin: 0
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #666;
}
canvas {
    display: block;
    width: 100vw;
    height: calc(100vw * 1080 / 1920);
}